<a href="https://colab.research.google.com/github/Llucascrodrigues/Estudos_DataScience/blob/main/Leitura_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Leitura dos dados sobre propriedades de Galaxias

As informações lidas são informações de propriedades de galaxias retiradas do artigo "Galaxy groups and clouds in the local" dos autores Dmitry Makarov e Igor Karachentsev

In [1]:
import pandas as pd
import numpy as np

In [33]:
Galax=pd.read_csv('makarov_galaxies.dat')
Galax.iloc[0,:]
#Galax.head()

 UGC12894                       | J000022.6+392944 |  618 | 10 | 14.18 |                          |      UGC12893                       | J000028.5+17...
Name: 0, dtype: object

In [6]:
Galax.shape

(10765, 1)

In [10]:
gr=pd.read_csv('makarov_groups.dat')
gr.shape

(1084, 1)

Podemos notar que as informações estão sem título e estão todas em uma mesma coluna. Irei criar os títulos de acordo com o artigo do Makarov e separar as informações em cada coluna.

# Separando os dados

In [45]:
tabela_nova=pd.DataFrame(columns=['Grupo', 'J200.0', 'N', 'V_LG','rhoV','R_h','lgL/Lo','lgM/Mo','lgM/L','T','delta m','Associação'])
tabela_nova.head()

Empty DataFrame
Columns: [Grupo, J200.0, N, V_LG, rhoV, R_h, lgL/Lo, lgM/Mo, lgM/L, T, delta m, Associação]
Index: []

CONTINUA... preciso acrescentar as informações nas linhas e colunas